In [1]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [3]:
#Using string formatting
def test(fname,lname):
    print(f"Hello {fname} {lname}")
test("udit","mahato")

Hello udit mahato

In [4]:
#Using string formatting + return 
def test(fname,lname):
    return f"Hello {fname} {lname}"
test("udit","mahato")

'Hello udit mahato'

In [5]:
#two arguments
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("kaka", "ramu")

kaka ramu

In [7]:
#two arguments and return
def my_function(fnum, snum):
  return fnum+snum

print(my_function(4,6))

10

In [8]:
#arbitrary arguments
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [12]:
#arbitrary arguments using numbers(args)
def my_function(*kids):
    total=1
    for i in kids:
        total=i*total
    return total

my_function(5,10,22,33,44)

1597200

In [13]:
#arbitrary arguments using numbers(kwargs)
def my_function(**kids):
    return kids

my_function(fkid="ramu",skid="kaku",tkid="koookoo")

{'fkid': 'ramu', 'skid': 'kaku', 'tkid': 'koookoo'}

In [1]:
#keyword arguments
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [11]:
#Passing a List as an Argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry","mango"]

my_function(fruits)

apple
banana
cherry
mango

In [3]:
# return values
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [4]:
#function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.
def myfunction():
  pass